# 9.13 dtypes

In [2]:
%matplotlib inline
import pandas as pd
import numpy as np

D:\Program Files\Anaconda3\lib\importlib\_bootstrap.py:222: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [4]:
dft = pd.DataFrame(dict(A = np.random.rand(3),
                        B = 1,
                        C = 'foo',
                        D = pd.Timestamp('20010102'),
                        E = pd.Series([1.0] * 3).astype('float32'),
                        F = False,
                        G = pd.Series([1] * 3,dtype='int8')))
dft

          A  B    C          D    E      F  G
0  0.588790  1  foo 2001-01-02  1.0  False  1
1  0.701020  1  foo 2001-01-02  1.0  False  1
2  0.663142  1  foo 2001-01-02  1.0  False  1

In [5]:
dft.dtypes

A           float64
B             int64
C            object
D    datetime64[ns]
E           float32
F              bool
G              int8
dtype: object

In [6]:
dft['A'].dtype

dtype('float64')