# 12.21 Set / Reset Index

In [1]:
%matplotlib inline
import pandas as pd
import numpy as np

D:\Program Files\Anaconda3\lib\importlib\_bootstrap.py:222: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [4]:
data=pd.DataFrame({'a':['bar','bar','foo','foo'],'b':['one','one','two','two'],'c':['z','y','x','w'],'d':[1,2,3,4]})
data

     a    b  c  d
0  bar  one  z  1
1  bar  one  y  2
2  foo  two  x  3
3  foo  two  w  4

In [6]:
indexed1 = data.set_index('c')
indexed1

     a    b  d
c
z  bar  one  1
y  bar  one  2
x  foo  two  3
w  foo  two  4

In [8]:
indexed2 = data.set_index(['a', 'b'])
indexed2

         c  d
a   b
bar one  z  1
    one  y  2
foo two  x  3
    two  w  4

## 12.13 Boolean indexing

其实在很早的时候就已经用过Boolean indexing了。