In [2]:
%matplotlib inline
from __future__ import division
from numpy.random import randn
import numpy as np
np.set_printoptions(precision=4, suppress=True)
import pandas as pd

D:\Program Files\Anaconda3\lib\importlib\_bootstrap.py:222: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [3]:
from datetime import *

In [3]:
# 72 hours starting with midnight Jan 1st, 2011
rng = pd.date_range('1/1/2011', periods=72, freq='H')
rng[:5]

DatetimeIndex(['2011-01-01 00:00:00', '2011-01-01 01:00:00',
               '2011-01-01 02:00:00', '2011-01-01 03:00:00',
               '2011-01-01 04:00:00'],
              dtype='datetime64[ns]', freq='H')

In [132]:
ts = pd.Series(np.random.randn(len(rng)), index=rng)
ts.head()

2012-01-01   -0.149185
2012-01-02   -1.434069
2012-01-03   -0.063408
Freq: D, dtype: float64

In [36]:
ts.fillna(0,inplace=True)

In [7]:
# to 45 minute frequency and forward fill
converted = ts.asfreq('45Min', method='pad')
converted.head()

2011-01-01 00:00:00   -0.392254
2011-01-01 00:45:00   -0.392254
2011-01-01 01:30:00   -0.681743
2011-01-01 02:15:00   -0.507571
2011-01-01 03:00:00    2.632519
Freq: 45T, dtype: float64

In [8]:
# Daily means
ts.resample('D').mean()

2011-01-01   -0.080903
2011-01-02    0.119627
2011-01-03   -0.134969
Freq: D, dtype: float64

# 19.1 Overview

# 19.2 Timestamps vs. Time Spans

In [13]:
pd.Timestamp(datetime(2012, 5, 1))

Timestamp('2012-05-01 00:00:00')

In [14]:
pd.Timestamp('2012-05-01')

Timestamp('2012-05-01 00:00:00')

In [15]:
pd.Timestamp(2012, 5, 1)

Timestamp('2012-05-01 00:00:00')

In [16]:
pd.Period('2011-01')

Period('2011-01', 'M')

In [17]:
pd.Period('2012-05', freq='D')

Period('2012-05-01', 'D')

In [18]:
dates = [pd.Timestamp('2012-05-01'), pd.Timestamp('2012-05-02'), pd.Timestamp('2012-05-03')]

In [19]:
ts = pd.Series(np.random.randn(3), dates)
type(ts.index)

pandas.core.indexes.datetimes.DatetimeIndex

In [20]:
ts.index

DatetimeIndex(['2012-05-01', '2012-05-02', '2012-05-03'], dtype='datetime64[ns]', freq=None)

In [21]:
ts

2012-05-01   -0.278757
2012-05-02    0.842815
2012-05-03   -0.153084
dtype: float64

In [22]:
periods = [pd.Period('2012-01'), pd.Period('2012-02'), pd.Period('2012-03')]

In [23]:
ts = pd.Series(np.random.randn(3), periods)

In [24]:
type(ts.index)

pandas.core.indexes.period.PeriodIndex

In [25]:
ts.index

PeriodIndex(['2012-01', '2012-02', '2012-03'], dtype='period[M]', freq='M')

In [26]:
ts

2012-01    0.170503
2012-02   -1.920069
2012-03   -1.894896
Freq: M, dtype: float64

# 19.3 Converting to Timestamps

To convert a Series or list-like object of date-like objects e.g. strings, epochs, or a mixture, you can use the
to_datetime function. When passed a Series, this returns a Series (with the same index), while a list-like is
converted to a DatetimeIndex:

In [27]:
pd.to_datetime(pd.Series(['Jul 31, 2009', '2010-01-10', None]))

0   2009-07-31
1   2010-01-10
2          NaT
dtype: datetime64[ns]

In [28]:
pd.to_datetime(['2005/11/23', '2010.12.31'])

DatetimeIndex(['2005-11-23', '2010-12-31'], dtype='datetime64[ns]', freq=None)

In [37]:
pd.to_datetime(['04-01-2012 10:00'], dayfirst=True)

DatetimeIndex(['2012-01-04 10:00:00'], dtype='datetime64[ns]', freq=None)

In [38]:
pd.to_datetime(['14-01-2012', '01-14-2012'], dayfirst=True)

DatetimeIndex(['2012-01-14', '2012-01-14'], dtype='datetime64[ns]', freq=None)

In [39]:
pd.to_datetime('2010/11/12')

Timestamp('2010-11-12 00:00:00')

In [40]:
pd.Timestamp('2010/11/12')

Timestamp('2010-11-12 00:00:00')

## 19.3.1 Providing a Format Argument

In [41]:
pd.to_datetime('2010/11/12', format='%Y/%m/%d')

Timestamp('2010-11-12 00:00:00')

In [42]:
pd.to_datetime('12-11-2010 00:00', format='%d-%m-%Y %H:%M')

Timestamp('2010-11-12 00:00:00')

## 19.3.2 Assembling Datetime from Multiple DataFrame Columns

In [44]:
df = pd.DataFrame({'year': [2015, 2016],
                   'month': [2, 3],
                   'day': [4, 5],
                   'hour': [2, 3]})
pd.to_datetime(df)

0   2015-02-04 02:00:00
1   2016-03-05 03:00:00
dtype: datetime64[ns]

In [45]:
pd.to_datetime(df[['year', 'month', 'day']])

0   2015-02-04
1   2016-03-05
dtype: datetime64[ns]

## 19.3.3 Invalid Data

In [46]:
pd.to_datetime(['2009/07/31', 'asd'], errors='raise')

ValueError: ('Unknown string format:', 'asd')

In [47]:
pd.to_datetime(['2009/07/31', 'asd'], errors='ignore')

array(['2009/07/31', 'asd'], dtype=object)

In [48]:
pd.to_datetime(['2009/07/31', 'asd'], errors='coerce')

DatetimeIndex(['2009-07-31', 'NaT'], dtype='datetime64[ns]', freq=None)

## 19.3.4 Epoch Timestamps

In [49]:
pd.to_datetime([1349720105, 1349806505, 1349892905,1349979305, 1350065705], unit='s')

DatetimeIndex(['2012-10-08 18:15:05', '2012-10-09 18:15:05',
               '2012-10-10 18:15:05', '2012-10-11 18:15:05',
               '2012-10-12 18:15:05'],
              dtype='datetime64[ns]', freq=None)

In [50]:
pd.to_datetime([1349720105100, 1349720105200, 1349720105300,1349720105400, 1349720105500 ], unit='ms')

DatetimeIndex(['2012-10-08 18:15:05.100000', '2012-10-08 18:15:05.200000',
               '2012-10-08 18:15:05.300000', '2012-10-08 18:15:05.400000',
               '2012-10-08 18:15:05.500000'],
              dtype='datetime64[ns]', freq=None)

## 19.3.5 From Timestamps to Epoch

In [52]:
stamps = pd.date_range('2012-10-08 18:15:05', periods=4, freq='D')
stamps

DatetimeIndex(['2012-10-08 18:15:05', '2012-10-09 18:15:05',
               '2012-10-10 18:15:05', '2012-10-11 18:15:05'],
              dtype='datetime64[ns]', freq='D')

In [53]:
stamps.view('int64') // pd.Timedelta(1, unit='s')

D:\Program Files\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: Floor division between integer array and Timedelta is
deprecated. Use 'array // timedelta.value' instead.
If you want to obtain epochs from an array of timestamps,
you can rather use
'(array - pd.Timestamp("1970-01-01")) // pd.Timedelta("1s")'.

  if __name__ == '__main__':

array([1349720105, 1349806505, 1349892905, 1349979305], dtype=int64)

## 19.3.6 Using the origin Parameter

In [54]:
pd.to_datetime([1, 2, 3], unit='D', origin=pd.Timestamp('1960-01-01'))

DatetimeIndex(['1960-01-02', '1960-01-03', '1960-01-04'], dtype='datetime64[ns]', freq=None)

In [55]:
pd.to_datetime([1, 2, 3], unit='D')

DatetimeIndex(['1970-01-02', '1970-01-03', '1970-01-04'], dtype='datetime64[ns]', freq=None)

## 19.4 Generating Ranges of Timestamps

In [57]:
dates = [datetime(2012, 5, 1), datetime(2012, 5, 2), datetime(2012, 5, 3)]
# Note the frequency information
index = pd.DatetimeIndex(dates)
index

DatetimeIndex(['2012-05-01', '2012-05-02', '2012-05-03'], dtype='datetime64[ns]', freq=None)

In [58]:
# Automatically converted to DatetimeIndex
index = pd.Index(dates)
index

DatetimeIndex(['2012-05-01', '2012-05-02', '2012-05-03'], dtype='datetime64[ns]', freq=None)

In [139]:
start = datetime(2011, 1, 1)
end = datetime(2012, 1, 1)
index = pd.date_range(start, end)
index

DatetimeIndex(['2011-01-01', '2011-01-02', '2011-01-03', '2011-01-04',
               '2011-01-05', '2011-01-06', '2011-01-07', '2011-01-08',
               '2011-01-09', '2011-01-10',
               ...
               '2011-12-23', '2011-12-24', '2011-12-25', '2011-12-26',
               '2011-12-27', '2011-12-28', '2011-12-29', '2011-12-30',
               '2011-12-31', '2012-01-01'],
              dtype='datetime64[ns]', length=366, freq='D')

In [140]:
index = pd.bdate_range(start, end)
index

DatetimeIndex(['2011-01-03', '2011-01-04', '2011-01-05', '2011-01-06',
               '2011-01-07', '2011-01-10', '2011-01-11', '2011-01-12',
               '2011-01-13', '2011-01-14',
               ...
               '2011-12-19', '2011-12-20', '2011-12-21', '2011-12-22',
               '2011-12-23', '2011-12-26', '2011-12-27', '2011-12-28',
               '2011-12-29', '2011-12-30'],
              dtype='datetime64[ns]', length=260, freq='B')

In [63]:
pd.date_range(start, periods=1000, freq='M')

DatetimeIndex(['2011-01-31', '2011-02-28', '2011-03-31', '2011-04-30',
               '2011-05-31', '2011-06-30', '2011-07-31', '2011-08-31',
               '2011-09-30', '2011-10-31',
               ...
               '2093-07-31', '2093-08-31', '2093-09-30', '2093-10-31',
               '2093-11-30', '2093-12-31', '2094-01-31', '2094-02-28',
               '2094-03-31', '2094-04-30'],
              dtype='datetime64[ns]', length=1000, freq='M')

In [64]:
pd.bdate_range(start, periods=250, freq='BQS')

DatetimeIndex(['2011-01-03', '2011-04-01', '2011-07-01', '2011-10-03',
               '2012-01-02', '2012-04-02', '2012-07-02', '2012-10-01',
               '2013-01-01', '2013-04-01',
               ...
               '2071-01-01', '2071-04-01', '2071-07-01', '2071-10-01',
               '2072-01-01', '2072-04-01', '2072-07-01', '2072-10-03',
               '2073-01-02', '2073-04-03'],
              dtype='datetime64[ns]', length=250, freq='BQS-JAN')

date_range and bdate_range make it easy to generate a range of dates using various combinations of parame-
ters like start, end, periods, and freq. The start and end dates are strictly inclusive, so dates outside of those
specified will not be generated:

In [141]:
pd.date_range(start, end, freq='BM')

DatetimeIndex(['2011-01-31', '2011-02-28', '2011-03-31', '2011-04-29',
               '2011-05-31', '2011-06-30', '2011-07-29', '2011-08-31',
               '2011-09-30', '2011-10-31', '2011-11-30', '2011-12-30'],
              dtype='datetime64[ns]', freq='BM')

In [66]:
pd.date_range(start, end, freq='W')

DatetimeIndex(['2011-01-02', '2011-01-09', '2011-01-16', '2011-01-23',
               '2011-01-30', '2011-02-06', '2011-02-13', '2011-02-20',
               '2011-02-27', '2011-03-06', '2011-03-13', '2011-03-20',
               '2011-03-27', '2011-04-03', '2011-04-10', '2011-04-17',
               '2011-04-24', '2011-05-01', '2011-05-08', '2011-05-15',
               '2011-05-22', '2011-05-29', '2011-06-05', '2011-06-12',
               '2011-06-19', '2011-06-26', '2011-07-03', '2011-07-10',
               '2011-07-17', '2011-07-24', '2011-07-31', '2011-08-07',
               '2011-08-14', '2011-08-21', '2011-08-28', '2011-09-04',
               '2011-09-11', '2011-09-18', '2011-09-25', '2011-10-02',
               '2011-10-09', '2011-10-16', '2011-10-23', '2011-10-30',
               '2011-11-06', '2011-11-13', '2011-11-20', '2011-11-27',
               '2011-12-04', '2011-12-11', '2011-12-18', '2011-12-25',
               '2012-01-01'],
              dtype='datetime64[ns]', freq='W-SUN')

In [67]:
pd.date_range(start, end, freq='W')

DatetimeIndex(['2011-01-02', '2011-01-09', '2011-01-16', '2011-01-23',
               '2011-01-30', '2011-02-06', '2011-02-13', '2011-02-20',
               '2011-02-27', '2011-03-06', '2011-03-13', '2011-03-20',
               '2011-03-27', '2011-04-03', '2011-04-10', '2011-04-17',
               '2011-04-24', '2011-05-01', '2011-05-08', '2011-05-15',
               '2011-05-22', '2011-05-29', '2011-06-05', '2011-06-12',
               '2011-06-19', '2011-06-26', '2011-07-03', '2011-07-10',
               '2011-07-17', '2011-07-24', '2011-07-31', '2011-08-07',
               '2011-08-14', '2011-08-21', '2011-08-28', '2011-09-04',
               '2011-09-11', '2011-09-18', '2011-09-25', '2011-10-02',
               '2011-10-09', '2011-10-16', '2011-10-23', '2011-10-30',
               '2011-11-06', '2011-11-13', '2011-11-20', '2011-11-27',
               '2011-12-04', '2011-12-11', '2011-12-18', '2011-12-25',
               '2012-01-01'],
              dtype='datetime64[ns]', freq='W-SUN')

In [68]:
pd.bdate_range(end=end, periods=20)

DatetimeIndex(['2011-12-05', '2011-12-06', '2011-12-07', '2011-12-08',
               '2011-12-09', '2011-12-12', '2011-12-13', '2011-12-14',
               '2011-12-15', '2011-12-16', '2011-12-19', '2011-12-20',
               '2011-12-21', '2011-12-22', '2011-12-23', '2011-12-26',
               '2011-12-27', '2011-12-28', '2011-12-29', '2011-12-30'],
              dtype='datetime64[ns]', freq='B')

In [69]:
pd.bdate_range(start=start, periods=20)

DatetimeIndex(['2011-01-03', '2011-01-04', '2011-01-05', '2011-01-06',
               '2011-01-07', '2011-01-10', '2011-01-11', '2011-01-12',
               '2011-01-13', '2011-01-14', '2011-01-17', '2011-01-18',
               '2011-01-19', '2011-01-20', '2011-01-21', '2011-01-24',
               '2011-01-25', '2011-01-26', '2011-01-27', '2011-01-28'],
              dtype='datetime64[ns]', freq='B')

## 19.4.1 Custom Frequency Ranges

In [71]:
weekmask = 'Mon Wed Fri'
holidays = [datetime(2011, 1, 5), datetime(2011, 3, 14)]

In [72]:
pd.bdate_range(start, end, freq='C', weekmask=weekmask, holidays=holidays)

DatetimeIndex(['2011-01-03', '2011-01-07', '2011-01-10', '2011-01-12',
               '2011-01-14', '2011-01-17', '2011-01-19', '2011-01-21',
               '2011-01-24', '2011-01-26',
               ...
               '2011-12-09', '2011-12-12', '2011-12-14', '2011-12-16',
               '2011-12-19', '2011-12-21', '2011-12-23', '2011-12-26',
               '2011-12-28', '2011-12-30'],
              dtype='datetime64[ns]', length=154, freq='C')

In [73]:
pd.bdate_range(start, end, freq='CBMS', weekmask=weekmask)

DatetimeIndex(['2011-01-03', '2011-02-02', '2011-03-02', '2011-04-01',
               '2011-05-02', '2011-06-01', '2011-07-01', '2011-08-01',
               '2011-09-02', '2011-10-03', '2011-11-02', '2011-12-02'],
              dtype='datetime64[ns]', freq='CBMS')

# 19.5 Timestamp Limitations

In [75]:
pd.Timestamp.min

Timestamp('1677-09-21 00:12:43.145225')

In [76]:
pd.Timestamp.max

Timestamp('2262-04-11 23:47:16.854775807')

# 19.6 Indexing

One of the main uses for DatetimeIndex is as an index for pandas objects. The DatetimeIndex class contains
many time series related optimizations:
- A large range of dates for various offsets are pre-computed and cached under the hood in order to make generating subsequent date ranges very fast (just have to grab a slice)
- Fast shifting using the shift and tshift method on pandas objects
- Unioning of overlapping DatetimeIndex objects with the same frequency is very fast (important for fast data alignment)
- Quick access to date fields via properties such as year, month, etc.
- Regularization functions like snap and very fast asof logic

In [142]:
rng = pd.date_range(start, end, freq='BM')
ts = pd.Series(np.random.randn(len(rng)), index=rng)
ts.index

DatetimeIndex(['2011-01-31', '2011-02-28', '2011-03-31', '2011-04-29',
               '2011-05-31', '2011-06-30', '2011-07-29', '2011-08-31',
               '2011-09-30', '2011-10-31', '2011-11-30', '2011-12-30'],
              dtype='datetime64[ns]', freq='BM')

In [143]:
ts[:5].index

DatetimeIndex(['2011-01-31', '2011-02-28', '2011-03-31', '2011-04-29',
               '2011-05-31'],
              dtype='datetime64[ns]', freq='BM')

In [80]:
ts[::2].index

DatetimeIndex(['2011-01-31', '2011-03-31', '2011-05-31', '2011-07-29',
               '2011-09-30', '2011-11-30'],
              dtype='datetime64[ns]', freq='2BM')

## 19.6.1 Partial String Indexing

In [81]:
ts['1/31/2011']

-0.2512852432060748

时间范围索引

In [82]:
ts[datetime(2011, 12, 25):]

2011-12-30    0.126305
Freq: BM, dtype: float64

In [83]:
ts['10/31/2011':'12/31/2011']

2011-10-31    0.403783
2011-11-30   -1.141530
2011-12-30    0.126305
Freq: BM, dtype: float64

To provide convenience for accessing longer time series, you can also pass in the year or year and month as strings:

In [84]:
ts['2011']

2011-01-31   -0.251285
2011-02-28    0.281436
2011-03-31   -0.478295
2011-04-29    2.214053
2011-05-31   -1.558014
2011-06-30    0.131650
2011-07-29   -1.683818
2011-08-31   -1.827492
2011-09-30   -0.032326
2011-10-31    0.403783
2011-11-30   -1.141530
2011-12-30    0.126305
Freq: BM, dtype: float64

In [85]:
ts['2011-6']

2011-06-30    0.13165
Freq: BM, dtype: float64

In [12]:
dft = pd.DataFrame(randn(100000,1),columns=['A'],index=pd.date_range('20130101',periods=100000,freq='T'))
dft

                            A
2013-01-01 00:00:00  0.159180
2013-01-01 00:01:00 -0.371462
2013-01-01 00:02:00  0.454213
2013-01-01 00:03:00  0.711532
2013-01-01 00:04:00 -0.223610
2013-01-01 00:05:00  0.834068
2013-01-01 00:06:00 -0.048895
2013-01-01 00:07:00 -0.591174
2013-01-01 00:08:00 -1.535174
2013-01-01 00:09:00  1.178111
2013-01-01 00:10:00 -0.775582
2013-01-01 00:11:00 -0.210906
2013-01-01 00:12:00  0.766672
2013-01-01 00:13:00  0.933659
2013-01-01 00:14:00  1.853951
2013-01-01 00:15:00  0.740702
2013-01-01 00:16:00  0.591871
2013-01-01 00:17:00  1.736773
2013-01-01 00:18:00  1.153951
2013-01-01 00:19:00  1.982074
2013-01-01 00:20:00 -0.294754
2013-01-01 00:21:00  1.175221
2013-01-01 00:22:00 -0.629549
2013-01-01 00:23:00  0.917592
2013-01-01 00:24:00 -1.562463
2013-01-01 00:25:00 -0.123375
2013-01-01 00:26:00 -0.740918
2013-01-01 00:27:00 -1.033469
2013-01-01 00:28:00  0.060992
2013-01-01 00:29:00 -0.862869
...                       ...
2013-03-11 10:10:00 -0.768855
2013-03-11 10:11:00  1.499428
2013-03-11 10:12:00  0.331957
2013-03-11 10:13:00 -0.436550
2013-03-11 10:14:00  0.929643
2013-03-11 10:15:00  0.422351
2013-03-11 10:16:00  0.099351
2013-03-11 10:17:00 -0.879476
2013-03-11 10:18:00 -1.302739
2013-03-11 10:19:00  0.439142
2013-03-11 10:20:00  0.777119
2013-03-11 10:21:00  1.604349
2013-03-11 10:22:00 -0.808042
2013-03-11 10:23:00  0.536151
2013-03-11 10:24:00 -0.600579
2013-03-11 10:25:00 -0.070631
2013-03-11 10:26:00 -0.027033
2013-03-11 10:27:00 -0.800949
2013-03-11 10:28:00  0.842324
2013-03-11 10:29:00  1.900294
2013-03-11 10:30:00  1.174173
2013-03-11 10:31:00  0.864070
2013-03-11 10:32:00  0.264151
2013-03-11 10:33:00 -0.471017
2013-03-11 10:34:00  1.879504
2013-03-11 10:35:00  0.078067
2013-03-11 10:36:00 -0.286081
2013-03-11 10:37:00  0.295102
2013-03-11 10:38:00 -0.357536
2013-03-11 10:39:00  1.949904

[100000 rows x 1 columns]

In [88]:
dft['2013']

                            A
2013-01-01 00:00:00  0.237964
2013-01-01 00:01:00  0.227762
2013-01-01 00:02:00 -0.041934
2013-01-01 00:03:00  0.623022
2013-01-01 00:04:00 -0.520355
2013-01-01 00:05:00  0.411469
2013-01-01 00:06:00  0.338686
2013-01-01 00:07:00  0.612961
2013-01-01 00:08:00  0.930348
2013-01-01 00:09:00 -1.145872
2013-01-01 00:10:00  1.824010
2013-01-01 00:11:00 -1.901515
2013-01-01 00:12:00 -1.906472
2013-01-01 00:13:00 -1.342346
2013-01-01 00:14:00 -0.565809
2013-01-01 00:15:00 -0.611475
2013-01-01 00:16:00  1.001233
2013-01-01 00:17:00  0.795559
2013-01-01 00:18:00  0.364509
2013-01-01 00:19:00 -0.761569
2013-01-01 00:20:00  1.388499
2013-01-01 00:21:00  2.271801
2013-01-01 00:22:00  0.559616
2013-01-01 00:23:00  0.559026
2013-01-01 00:24:00 -0.434898
2013-01-01 00:25:00 -1.192385
2013-01-01 00:26:00  0.255456
2013-01-01 00:27:00 -0.661277
2013-01-01 00:28:00  0.152875
2013-01-01 00:29:00  0.326932
...                       ...
2013-03-11 10:10:00  0.293315
2013-03-11 10:11:00 -0.265512
2013-03-11 10:12:00 -1.348597
2013-03-11 10:13:00 -0.218638
2013-03-11 10:14:00  0.484193
2013-03-11 10:15:00 -1.101798
2013-03-11 10:16:00  2.558371
2013-03-11 10:17:00  0.224214
2013-03-11 10:18:00 -0.266649
2013-03-11 10:19:00 -2.434019
2013-03-11 10:20:00 -0.553213
2013-03-11 10:21:00  1.416233
2013-03-11 10:22:00 -1.308558
2013-03-11 10:23:00 -0.527849
2013-03-11 10:24:00  1.174169
2013-03-11 10:25:00 -1.221344
2013-03-11 10:26:00  0.112709
2013-03-11 10:27:00 -0.572001
2013-03-11 10:28:00  1.673150
2013-03-11 10:29:00 -1.122375
2013-03-11 10:30:00 -2.027510
2013-03-11 10:31:00 -0.101700
2013-03-11 10:32:00  0.178712
2013-03-11 10:33:00 -0.611314
2013-03-11 10:34:00  1.993286
2013-03-11 10:35:00 -2.062802
2013-03-11 10:36:00  0.596053
2013-03-11 10:37:00  0.769460
2013-03-11 10:38:00  0.021056
2013-03-11 10:39:00  0.878949

[100000 rows x 1 columns]

This starts on the very first time in the month, and includes the last date & time for the month

In [89]:
dft['2013-1':'2013-2']

                            A
2013-01-01 00:00:00  0.237964
2013-01-01 00:01:00  0.227762
2013-01-01 00:02:00 -0.041934
2013-01-01 00:03:00  0.623022
2013-01-01 00:04:00 -0.520355
2013-01-01 00:05:00  0.411469
2013-01-01 00:06:00  0.338686
2013-01-01 00:07:00  0.612961
2013-01-01 00:08:00  0.930348
2013-01-01 00:09:00 -1.145872
2013-01-01 00:10:00  1.824010
2013-01-01 00:11:00 -1.901515
2013-01-01 00:12:00 -1.906472
2013-01-01 00:13:00 -1.342346
2013-01-01 00:14:00 -0.565809
2013-01-01 00:15:00 -0.611475
2013-01-01 00:16:00  1.001233
2013-01-01 00:17:00  0.795559
2013-01-01 00:18:00  0.364509
2013-01-01 00:19:00 -0.761569
2013-01-01 00:20:00  1.388499
2013-01-01 00:21:00  2.271801
2013-01-01 00:22:00  0.559616
2013-01-01 00:23:00  0.559026
2013-01-01 00:24:00 -0.434898
2013-01-01 00:25:00 -1.192385
2013-01-01 00:26:00  0.255456
2013-01-01 00:27:00 -0.661277
2013-01-01 00:28:00  0.152875
2013-01-01 00:29:00  0.326932
...                       ...
2013-02-28 23:30:00  0.221781
2013-02-28 23:31:00 -0.818396
2013-02-28 23:32:00  0.076940
2013-02-28 23:33:00 -0.094153
2013-02-28 23:34:00 -0.444643
2013-02-28 23:35:00 -0.164524
2013-02-28 23:36:00  0.438759
2013-02-28 23:37:00  0.288757
2013-02-28 23:38:00  0.070976
2013-02-28 23:39:00 -0.428153
2013-02-28 23:40:00  0.314524
2013-02-28 23:41:00 -0.785011
2013-02-28 23:42:00  1.070809
2013-02-28 23:43:00  0.101327
2013-02-28 23:44:00  0.354671
2013-02-28 23:45:00  0.382417
2013-02-28 23:46:00  0.113086
2013-02-28 23:47:00 -0.368498
2013-02-28 23:48:00  1.157715
2013-02-28 23:49:00 -0.203778
2013-02-28 23:50:00  0.097099
2013-02-28 23:51:00 -0.059900
2013-02-28 23:52:00  0.941902
2013-02-28 23:53:00 -0.556070
2013-02-28 23:54:00 -1.189051
2013-02-28 23:55:00 -1.353019
2013-02-28 23:56:00 -1.005935
2013-02-28 23:57:00 -0.575245
2013-02-28 23:58:00  0.539861
2013-02-28 23:59:00  0.407656

[84960 rows x 1 columns]

This specifies a stop time that includes all of the times on the last day

In [90]:
dft['2013-1':'2013-2-28']

                            A
2013-01-01 00:00:00  0.237964
2013-01-01 00:01:00  0.227762
2013-01-01 00:02:00 -0.041934
2013-01-01 00:03:00  0.623022
2013-01-01 00:04:00 -0.520355
2013-01-01 00:05:00  0.411469
2013-01-01 00:06:00  0.338686
2013-01-01 00:07:00  0.612961
2013-01-01 00:08:00  0.930348
2013-01-01 00:09:00 -1.145872
2013-01-01 00:10:00  1.824010
2013-01-01 00:11:00 -1.901515
2013-01-01 00:12:00 -1.906472
2013-01-01 00:13:00 -1.342346
2013-01-01 00:14:00 -0.565809
2013-01-01 00:15:00 -0.611475
2013-01-01 00:16:00  1.001233
2013-01-01 00:17:00  0.795559
2013-01-01 00:18:00  0.364509
2013-01-01 00:19:00 -0.761569
2013-01-01 00:20:00  1.388499
2013-01-01 00:21:00  2.271801
2013-01-01 00:22:00  0.559616
2013-01-01 00:23:00  0.559026
2013-01-01 00:24:00 -0.434898
2013-01-01 00:25:00 -1.192385
2013-01-01 00:26:00  0.255456
2013-01-01 00:27:00 -0.661277
2013-01-01 00:28:00  0.152875
2013-01-01 00:29:00  0.326932
...                       ...
2013-02-28 23:30:00  0.221781
2013-02-28 23:31:00 -0.818396
2013-02-28 23:32:00  0.076940
2013-02-28 23:33:00 -0.094153
2013-02-28 23:34:00 -0.444643
2013-02-28 23:35:00 -0.164524
2013-02-28 23:36:00  0.438759
2013-02-28 23:37:00  0.288757
2013-02-28 23:38:00  0.070976
2013-02-28 23:39:00 -0.428153
2013-02-28 23:40:00  0.314524
2013-02-28 23:41:00 -0.785011
2013-02-28 23:42:00  1.070809
2013-02-28 23:43:00  0.101327
2013-02-28 23:44:00  0.354671
2013-02-28 23:45:00  0.382417
2013-02-28 23:46:00  0.113086
2013-02-28 23:47:00 -0.368498
2013-02-28 23:48:00  1.157715
2013-02-28 23:49:00 -0.203778
2013-02-28 23:50:00  0.097099
2013-02-28 23:51:00 -0.059900
2013-02-28 23:52:00  0.941902
2013-02-28 23:53:00 -0.556070
2013-02-28 23:54:00 -1.189051
2013-02-28 23:55:00 -1.353019
2013-02-28 23:56:00 -1.005935
2013-02-28 23:57:00 -0.575245
2013-02-28 23:58:00  0.539861
2013-02-28 23:59:00  0.407656

[84960 rows x 1 columns]

This specifies an exact stop time (and is not the same as the above)

In [91]:
dft['2013-1':'2013-2-28 00:00:00']

                            A
2013-01-01 00:00:00  0.237964
2013-01-01 00:01:00  0.227762
2013-01-01 00:02:00 -0.041934
2013-01-01 00:03:00  0.623022
2013-01-01 00:04:00 -0.520355
2013-01-01 00:05:00  0.411469
2013-01-01 00:06:00  0.338686
2013-01-01 00:07:00  0.612961
2013-01-01 00:08:00  0.930348
2013-01-01 00:09:00 -1.145872
2013-01-01 00:10:00  1.824010
2013-01-01 00:11:00 -1.901515
2013-01-01 00:12:00 -1.906472
2013-01-01 00:13:00 -1.342346
2013-01-01 00:14:00 -0.565809
2013-01-01 00:15:00 -0.611475
2013-01-01 00:16:00  1.001233
2013-01-01 00:17:00  0.795559
2013-01-01 00:18:00  0.364509
2013-01-01 00:19:00 -0.761569
2013-01-01 00:20:00  1.388499
2013-01-01 00:21:00  2.271801
2013-01-01 00:22:00  0.559616
2013-01-01 00:23:00  0.559026
2013-01-01 00:24:00 -0.434898
2013-01-01 00:25:00 -1.192385
2013-01-01 00:26:00  0.255456
2013-01-01 00:27:00 -0.661277
2013-01-01 00:28:00  0.152875
2013-01-01 00:29:00  0.326932
...                       ...
2013-02-27 23:31:00  0.336765
2013-02-27 23:32:00 -0.081882
2013-02-27 23:33:00 -1.429592
2013-02-27 23:34:00 -0.183730
2013-02-27 23:35:00  0.273969
2013-02-27 23:36:00 -0.199049
2013-02-27 23:37:00 -1.014975
2013-02-27 23:38:00  1.578384
2013-02-27 23:39:00 -0.767711
2013-02-27 23:40:00  0.132272
2013-02-27 23:41:00 -0.585182
2013-02-27 23:42:00 -0.113854
2013-02-27 23:43:00 -0.404606
2013-02-27 23:44:00  2.073720
2013-02-27 23:45:00 -0.857804
2013-02-27 23:46:00  0.302374
2013-02-27 23:47:00 -1.378492
2013-02-27 23:48:00 -1.447382
2013-02-27 23:49:00  0.803564
2013-02-27 23:50:00 -1.603786
2013-02-27 23:51:00 -0.199526
2013-02-27 23:52:00  0.102468
2013-02-27 23:53:00 -2.546855
2013-02-27 23:54:00  0.687578
2013-02-27 23:55:00  1.185959
2013-02-27 23:56:00 -0.403511
2013-02-27 23:57:00  0.506532
2013-02-27 23:58:00  0.721674
2013-02-27 23:59:00  0.055642
2013-02-28 00:00:00  1.351408

[83521 rows x 1 columns]

We are stopping on the included end-point as it is part of the index

In [92]:
dft['2013-1-15':'2013-1-15 12:30:00']

                            A
2013-01-15 00:00:00  0.693073
2013-01-15 00:01:00  0.803808
2013-01-15 00:02:00  0.093832
2013-01-15 00:03:00 -0.642350
2013-01-15 00:04:00  0.656836
2013-01-15 00:05:00 -0.087465
2013-01-15 00:06:00 -0.445697
2013-01-15 00:07:00  0.454253
2013-01-15 00:08:00  1.412341
2013-01-15 00:09:00 -1.205156
2013-01-15 00:10:00 -0.494120
2013-01-15 00:11:00  0.583195
2013-01-15 00:12:00 -0.480749
2013-01-15 00:13:00  0.557163
2013-01-15 00:14:00  0.870796
2013-01-15 00:15:00 -0.284227
2013-01-15 00:16:00  0.146246
2013-01-15 00:17:00 -1.149551
2013-01-15 00:18:00 -0.274975
2013-01-15 00:19:00  0.523071
2013-01-15 00:20:00 -0.724992
2013-01-15 00:21:00 -0.558874
2013-01-15 00:22:00  0.799084
2013-01-15 00:23:00  1.145274
2013-01-15 00:24:00 -0.497442
2013-01-15 00:25:00  0.295290
2013-01-15 00:26:00 -1.145164
2013-01-15 00:27:00 -1.121622
2013-01-15 00:28:00  0.243357
2013-01-15 00:29:00 -0.118923
...                       ...
2013-01-15 12:01:00 -1.542250
2013-01-15 12:02:00 -1.517605
2013-01-15 12:03:00  0.442370
2013-01-15 12:04:00  0.353482
2013-01-15 12:05:00 -0.229453
2013-01-15 12:06:00  0.515005
2013-01-15 12:07:00  0.037835
2013-01-15 12:08:00  1.997062
2013-01-15 12:09:00  0.189187
2013-01-15 12:10:00  1.593068
2013-01-15 12:11:00 -0.003008
2013-01-15 12:12:00  1.117998
2013-01-15 12:13:00 -1.498224
2013-01-15 12:14:00 -1.175020
2013-01-15 12:15:00  0.692126
2013-01-15 12:16:00 -0.011171
2013-01-15 12:17:00 -1.395708
2013-01-15 12:18:00  0.713964
2013-01-15 12:19:00 -2.189412
2013-01-15 12:20:00  1.436179
2013-01-15 12:21:00  2.571658
2013-01-15 12:22:00  0.122502
2013-01-15 12:23:00 -0.808520
2013-01-15 12:24:00 -0.354701
2013-01-15 12:25:00  1.699730
2013-01-15 12:26:00  1.723131
2013-01-15 12:27:00 -0.823745
2013-01-15 12:28:00  1.464019
2013-01-15 12:29:00  0.909165
2013-01-15 12:30:00 -0.916315

[751 rows x 1 columns]

DatetimeIndex partial string indexing also works on a DataFrame with a MultiIndex:

In [93]:
dft2 = pd.DataFrame(np.random.randn(20, 1),
                    columns=['A'],
                    index=pd.MultiIndex.from_product([pd.date_range('20130101',periods=10,freq='12H'),['a', 'b']]))
dft2

                              A
2013-01-01 00:00:00 a  0.487733
                    b -0.527890
2013-01-01 12:00:00 a -1.315374
                    b  0.970578
2013-01-02 00:00:00 a  0.535436
                    b  0.129342
2013-01-02 12:00:00 a  0.536116
                    b  1.402482
2013-01-03 00:00:00 a -0.908913
                    b -0.564002
2013-01-03 12:00:00 a -0.634409
                    b -1.583892
2013-01-04 00:00:00 a -0.258303
                    b -0.228866
2013-01-04 12:00:00 a -0.596155
                    b  0.069771
2013-01-05 00:00:00 a  0.508221
                    b  0.405532
2013-01-05 12:00:00 a  0.603411
                    b -0.924896

In [94]:
dft2.loc['2013-01-05']

                              A
2013-01-05 00:00:00 a  0.508221
                    b  0.405532
2013-01-05 12:00:00 a  0.603411
                    b -0.924896

In [95]:
idx = pd.IndexSlice

In [98]:
dft2 = dft2.swaplevel(0, 1).sort_index()
dft2

                              A
a 2013-01-01 00:00:00  0.487733
  2013-01-01 12:00:00 -1.315374
  2013-01-02 00:00:00  0.535436
  2013-01-02 12:00:00  0.536116
  2013-01-03 00:00:00 -0.908913
  2013-01-03 12:00:00 -0.634409
  2013-01-04 00:00:00 -0.258303
  2013-01-04 12:00:00 -0.596155
  2013-01-05 00:00:00  0.508221
  2013-01-05 12:00:00  0.603411
b 2013-01-01 00:00:00 -0.527890
  2013-01-01 12:00:00  0.970578
  2013-01-02 00:00:00  0.129342
  2013-01-02 12:00:00  1.402482
  2013-01-03 00:00:00 -0.564002
  2013-01-03 12:00:00 -1.583892
  2013-01-04 00:00:00 -0.228866
  2013-01-04 12:00:00  0.069771
  2013-01-05 00:00:00  0.405532
  2013-01-05 12:00:00 -0.924896

In [99]:
dft2.loc[idx[:, '2013-01-05'], :]

                              A
a 2013-01-05 00:00:00  0.508221
  2013-01-05 12:00:00  0.603411
b 2013-01-05 00:00:00  0.405532
  2013-01-05 12:00:00 -0.924896

## 19.6.2 Slice vs. Exact Match

The same string used as an indexing parameter can be treated either as a slice or as an exact match depending on the
resolution of the index. If the string is less accurate than the index, it will be treated as a slice, otherwise as an exact
match.

需要注意的是Slice和Exact match输出的结果是类型是不同的。

resolution的意思是精度，分辨率

Consider a Series object with a minute resolution index:

In [2]:
series_minute = pd.Series([1, 2, 3],
                          pd.DatetimeIndex(['2011-12-31 23:59:00',
                                            '2012-01-01 00:00:00',
                                            '2012-01-01 00:02:00']))
series_minute.index.resolution

'minute'

A timestamp string less accurate than a minute gives a Series object.

In [5]:
series_minute['2011-12-31 23']

2011-12-31 23:59:00    1
dtype: int64

A timestamp string with minute resolution (or more accurate), gives a scalar instead, i.e. it is not casted to a slice.

In [6]:
series_minute['2011-12-31 23:59']

1

In [7]:
series_minute['2011-12-31 23:59:00']

1

If index resolution is second, then, the minute-accurate timestamp gives a Series.

In [10]:
series_second = pd.Series([1, 2, 3],pd.DatetimeIndex(['2011-12-31 23:59:59',
                                                      '2012-01-01 00:00:00',
                                                      '2012-01-01 00:00:01']))
series_second.index.resolution

'second'

In [11]:
series_second['2011-12-31 23:59']

2011-12-31 23:59:59    1
dtype: int64

If the timestamp string is treated as a slice, it can be used to index DataFrame with [] as well.

In [4]:
dft_minute = pd.DataFrame({'a': [1, 2, 3], 'b': [4, 5, 6]},index=series_minute.index)
dft_minute

                     a  b
2011-12-31 23:59:00  1  4
2012-01-01 00:00:00  2  5
2012-01-01 00:02:00  3  6

In [5]:
dft_minute['2011-12-31 23']

                     a  b
2011-12-31 23:59:00  1  4

However, if the string is treated as an exact match, the selection in DataFrame‘s [] will be column-
wise and not row-wise, see Indexing Basics. For example dft_minute['2011-12-31 23:59'] will raise
KeyError as '2012-12-31 23:59' has the same resolution as the index and there is no column with such
name:
To always have unambiguous selection, whether the row is treated as a slice or a single selection, use .loc.

Note also that DatetimeIndex resolution cannot be less precise than day.

In [9]:
series_monthly = pd.Series([1, 2, 3],
                           pd.DatetimeIndex(['2011-12',
                                             '2012-01',
                                             '2012-02']))
series_monthly

2011-12-01    1
2012-01-01    2
2012-02-01    3
dtype: int64

In [10]:
series_monthly.index.resolution

'day'

In [11]:
series_monthly['2011-12'] # returns Series

2011-12-01    1
dtype: int64

## 19.6.3 Exact Indexing

In [15]:
dft[datetime(2013, 1, 1):datetime(2013,2,28)]

                            A
2013-01-01 00:00:00  0.159180
2013-01-01 00:01:00 -0.371462
2013-01-01 00:02:00  0.454213
2013-01-01 00:03:00  0.711532
2013-01-01 00:04:00 -0.223610
2013-01-01 00:05:00  0.834068
2013-01-01 00:06:00 -0.048895
2013-01-01 00:07:00 -0.591174
2013-01-01 00:08:00 -1.535174
2013-01-01 00:09:00  1.178111
2013-01-01 00:10:00 -0.775582
2013-01-01 00:11:00 -0.210906
2013-01-01 00:12:00  0.766672
2013-01-01 00:13:00  0.933659
2013-01-01 00:14:00  1.853951
2013-01-01 00:15:00  0.740702
2013-01-01 00:16:00  0.591871
2013-01-01 00:17:00  1.736773
2013-01-01 00:18:00  1.153951
2013-01-01 00:19:00  1.982074
2013-01-01 00:20:00 -0.294754
2013-01-01 00:21:00  1.175221
2013-01-01 00:22:00 -0.629549
2013-01-01 00:23:00  0.917592
2013-01-01 00:24:00 -1.562463
2013-01-01 00:25:00 -0.123375
2013-01-01 00:26:00 -0.740918
2013-01-01 00:27:00 -1.033469
2013-01-01 00:28:00  0.060992
2013-01-01 00:29:00 -0.862869
...                       ...
2013-02-27 23:31:00 -0.407629
2013-02-27 23:32:00 -0.105581
2013-02-27 23:33:00  0.643671
2013-02-27 23:34:00 -0.137034
2013-02-27 23:35:00 -0.417109
2013-02-27 23:36:00 -1.289510
2013-02-27 23:37:00  0.344209
2013-02-27 23:38:00  0.878875
2013-02-27 23:39:00  0.405162
2013-02-27 23:40:00  0.482947
2013-02-27 23:41:00 -0.425264
2013-02-27 23:42:00 -0.245031
2013-02-27 23:43:00  0.008033
2013-02-27 23:44:00  0.296386
2013-02-27 23:45:00 -1.686124
2013-02-27 23:46:00 -1.091266
2013-02-27 23:47:00 -1.857988
2013-02-27 23:48:00 -1.273468
2013-02-27 23:49:00  1.118216
2013-02-27 23:50:00  1.001181
2013-02-27 23:51:00  0.712514
2013-02-27 23:52:00  0.473674
2013-02-27 23:53:00 -0.212258
2013-02-27 23:54:00  0.898936
2013-02-27 23:55:00 -0.134722
2013-02-27 23:56:00 -0.533463
2013-02-27 23:57:00 -0.368767
2013-02-27 23:58:00 -1.075970
2013-02-27 23:59:00 -0.888992
2013-02-28 00:00:00  0.745469

[83521 rows x 1 columns]

In [16]:
dft[datetime(2013, 1, 1, 10, 12, 0):datetime(2013, 2, 28, 10, 12, 0)]

                            A
2013-01-01 10:12:00  1.693907
2013-01-01 10:13:00  1.418449
2013-01-01 10:14:00 -0.597315
2013-01-01 10:15:00 -0.333619
2013-01-01 10:16:00  0.826883
2013-01-01 10:17:00  0.695949
2013-01-01 10:18:00  0.086018
2013-01-01 10:19:00  0.773490
2013-01-01 10:20:00 -0.304660
2013-01-01 10:21:00 -1.396825
2013-01-01 10:22:00 -0.438060
2013-01-01 10:23:00  1.357287
2013-01-01 10:24:00 -0.297679
2013-01-01 10:25:00 -1.921801
2013-01-01 10:26:00 -0.431413
2013-01-01 10:27:00 -1.107795
2013-01-01 10:28:00  0.737971
2013-01-01 10:29:00  0.379352
2013-01-01 10:30:00 -0.869431
2013-01-01 10:31:00 -0.473302
2013-01-01 10:32:00 -0.885839
2013-01-01 10:33:00  2.132670
2013-01-01 10:34:00 -0.842873
2013-01-01 10:35:00  2.320734
2013-01-01 10:36:00  0.936439
2013-01-01 10:37:00 -2.358664
2013-01-01 10:38:00 -1.689066
2013-01-01 10:39:00  1.303019
2013-01-01 10:40:00 -0.441863
2013-01-01 10:41:00 -0.106134
...                       ...
2013-02-28 09:43:00  0.142805
2013-02-28 09:44:00 -2.233103
2013-02-28 09:45:00  1.777913
2013-02-28 09:46:00  0.234293
2013-02-28 09:47:00 -0.042728
2013-02-28 09:48:00 -1.242071
2013-02-28 09:49:00  0.054276
2013-02-28 09:50:00  1.302491
2013-02-28 09:51:00 -1.118702
2013-02-28 09:52:00 -0.349313
2013-02-28 09:53:00  0.621645
2013-02-28 09:54:00 -0.997399
2013-02-28 09:55:00  1.213016
2013-02-28 09:56:00 -0.197531
2013-02-28 09:57:00  1.392967
2013-02-28 09:58:00 -0.788952
2013-02-28 09:59:00 -0.593744
2013-02-28 10:00:00  0.414045
2013-02-28 10:01:00 -1.032852
2013-02-28 10:02:00 -1.221288
2013-02-28 10:03:00  2.125129
2013-02-28 10:04:00  0.322446
2013-02-28 10:05:00  0.337315
2013-02-28 10:06:00 -0.871711
2013-02-28 10:07:00 -1.372183
2013-02-28 10:08:00  0.492566
2013-02-28 10:09:00  0.871924
2013-02-28 10:10:00  0.567150
2013-02-28 10:11:00 -0.559030
2013-02-28 10:12:00  1.059373

[83521 rows x 1 columns]

## 19.6.4 Truncating & Fancy Indexing

In [17]:
rng2 = pd.date_range('2011-01-01', '2012-01-01', freq='W')

In [19]:
ts2 = pd.Series(np.random.randn(len(rng2)), index=rng2)
ts2

2011-01-02   -0.803905
2011-01-09   -2.124541
2011-01-16    1.458088
2011-01-23   -1.306865
2011-01-30   -1.364276
2011-02-06   -0.093272
2011-02-13   -0.823296
2011-02-20   -0.557736
2011-02-27    1.249951
2011-03-06    0.119558
2011-03-13    1.261920
2011-03-20    0.550737
2011-03-27    1.302723
2011-04-03   -0.041571
2011-04-10    0.631771
2011-04-17   -1.555556
2011-04-24   -0.234355
2011-05-01   -0.087556
2011-05-08    1.976625
2011-05-15   -1.380098
2011-05-22    1.425991
2011-05-29   -1.164648
2011-06-05    0.836807
2011-06-12    1.714847
2011-06-19    0.515634
2011-06-26    0.544839
2011-07-03   -0.239120
2011-07-10    0.366387
2011-07-17    0.362427
2011-07-24   -0.160486
2011-07-31   -1.752952
2011-08-07   -0.467515
2011-08-14   -0.632042
2011-08-21   -0.118466
2011-08-28   -1.644675
2011-09-04    2.541993
2011-09-11    0.197548
2011-09-18   -0.487979
2011-09-25    0.016660
2011-10-02    0.234048
2011-10-09   -1.044379
2011-10-16   -0.608678
2011-10-23   -0.319516
2011-10-30   -0.655674
2011-11-06   -1.828598
2011-11-13   -0.917292
2011-11-20   -0.171650
2011-11-27    0.547767
2011-12-04    0.345297
2011-12-11   -0.030126
2011-12-18    1.337480
2011-12-25   -0.777997
2012-01-01   -1.829705
Freq: W-SUN, dtype: float64

In [20]:
ts2.truncate(before='2011-11', after='2011-12')

2011-11-06   -1.828598
2011-11-13   -0.917292
2011-11-20   -0.171650
2011-11-27    0.547767
Freq: W-SUN, dtype: float64

In [21]:
ts2['2011-11':'2011-12']

2011-11-06   -1.828598
2011-11-13   -0.917292
2011-11-20   -0.171650
2011-11-27    0.547767
2011-12-04    0.345297
2011-12-11   -0.030126
2011-12-18    1.337480
2011-12-25   -0.777997
Freq: W-SUN, dtype: float64

# 19.7 Time/Date Components

# 19.8 DateOffset Objects

In the preceding examples, we created DatetimeIndex objects at various frequencies by passing in frequency
strings like ‘M’, ‘W’, and ‘BM to the freq keyword. Under the hood, these frequency strings are being translated
into an instance of pandas DateOffset, which represents a regular frequency increment. Specific offset logic like
“month”, “business day”, or “one hour” is represented in its various subclasses.

The basic DateOffset takes the same arguments as dateutil.relativedelta, which works like:

In [22]:
d = datetime(2008, 8, 18, 9, 0)
d + relativedelta(months=4, days=5)

NameError: name 'relativedelta' is not defined

We could have done the same thing with DateOffset:

In [147]:
from pandas.tseries.offsets import *

In [24]:
d + DateOffset(months=4, days=5)

Timestamp('2008-12-23 09:00:00')

The key features of a DateOffset object are:
- it can be added / subtracted to/from a datetime object to obtain a shifted date
- it can be multiplied by an integer (positive or negative) so that the increment will be applied multiple times
- it has rollforward and rollback methods for moving a date forward or backward to the next or previous“offset date”

In [26]:
d - 5 * BDay()

Timestamp('2008-08-11 09:00:00')

In [27]:
d + BMonthEnd()

Timestamp('2008-08-29 09:00:00')

In [28]:
d

datetime.datetime(2008, 8, 18, 9, 0)

In [29]:
offset = BMonthEnd()

In [30]:
offset.rollforward(d)

Timestamp('2008-08-29 09:00:00')

In [31]:
offset.rollback(d)

Timestamp('2008-07-31 09:00:00')

It’s definitely worth exploring the pandas.tseries.offsets module and the various docstrings for the classes.These operations (apply, rollforward and rollback) preserves time (hour, minute, etc) information by de-
fault. To reset time, use normalize=True keyword when creating the offset instance. If normalize=True,result is normalized after the function is applied.

In [33]:
day = Day()
day.apply(pd.Timestamp('2014-01-01 09:00'))

Timestamp('2014-01-02 09:00:00')

In [35]:
day = Day(normalize=True)
day.apply(pd.Timestamp('2014-01-01 09:00'))

Timestamp('2014-01-02 00:00:00')

In [37]:
hour = Hour()
hour.apply(pd.Timestamp('2014-01-01 22:00'))

Timestamp('2014-01-01 23:00:00')

In [40]:
hour = Hour(normalize=True)
hour.apply(pd.Timestamp('2014-01-01 22:00'))

Timestamp('2014-01-01 00:00:00')

In [41]:
hour.apply(pd.Timestamp('2014-01-01 23:00'))

Timestamp('2014-01-02 00:00:00')

## 19.8.1 Parametric Offsets

In [42]:
d

datetime.datetime(2008, 8, 18, 9, 0)

In [43]:
d + Week()

Timestamp('2008-08-25 09:00:00')

In [44]:
d + Week(weekday=4)

Timestamp('2008-08-22 09:00:00')

In [45]:
(d + Week(weekday=4)).weekday()

4

In [46]:
d - Week()

Timestamp('2008-08-11 09:00:00')

In [47]:
d + Week(normalize=True)

Timestamp('2008-08-25 00:00:00')

In [48]:
d - Week(normalize=True)

Timestamp('2008-08-11 00:00:00')

In [49]:
d + YearEnd()

Timestamp('2008-12-31 09:00:00')

In [50]:
d + YearEnd(month=6)

Timestamp('2009-06-30 09:00:00')

## 19.8.2 Using Offsets with Series / DatetimeIndex

Offsets can be used with either a Series or DatetimeIndex to apply the offset to each element.

In [53]:
rng = pd.date_range('2012-01-01', '2012-01-03')
rng

DatetimeIndex(['2012-01-01', '2012-01-02', '2012-01-03'], dtype='datetime64[ns]', freq='D')

In [54]:
s = pd.Series(rng)
s

0   2012-01-01
1   2012-01-02
2   2012-01-03
dtype: datetime64[ns]

In [55]:
rng + DateOffset(months=2)

DatetimeIndex(['2012-03-01', '2012-03-02', '2012-03-03'], dtype='datetime64[ns]', freq='D')

In [56]:
s + DateOffset(months=2)

0   2012-03-01
1   2012-03-02
2   2012-03-03
dtype: datetime64[ns]

In [57]:
s - DateOffset(months=2)

0   2011-11-01
1   2011-11-02
2   2011-11-03
dtype: datetime64[ns]

If the offset class maps directly to a Timedelta (Day, Hour, Minute, Second, Micro, Milli, Nano) it can be
used exactly like a Timedelta - see the Timedelta section for more examples.

In [58]:
s - Day(2)

0   2011-12-30
1   2011-12-31
2   2012-01-01
dtype: datetime64[ns]

In [60]:
td = s - pd.Series(pd.date_range('2011-12-29', '2011-12-31'))
td

0   3 days
1   3 days
2   3 days
dtype: timedelta64[ns]

In [61]:
td + Minute(15)

0   3 days 00:15:00
1   3 days 00:15:00
2   3 days 00:15:00
dtype: timedelta64[ns]

Note that some offsets (such as BQuarterEnd) do not have a vectorized implementation. They can still be used but
may calculate significantly slower and will show a PerformanceWarning

In [62]:
rng + BQuarterEnd()

DatetimeIndex(['2012-03-30', '2012-03-30', '2012-03-30'], dtype='datetime64[ns]', freq='D')

## 19.8.3 Custom Business Days

The CDay or CustomBusinessDay class provides a parametric BusinessDay class which can be used to create customized business day calendars which account for local holidays and local weekend conventions.
As an interesting example, let’s look at Egypt where a Friday-Saturday weekend is observed.

In [84]:
from pandas.tseries.offsets import CustomBusinessDay
weekmask_egypt = 'Sun Mon Tue Wed Thu'
holidays = ['2012-05-01', datetime(2013, 5, 1), np.datetime64('2014-05-01')]
# 从calendar中剔除掉节假日以及周末就能够得到工作日
bday_egypt = CustomBusinessDay(holidays=holidays, weekmask=weekmask_egypt)

In [66]:
dt = datetime(2013, 4, 30)
dt + 2*bday_egypt

Timestamp('2013-05-05 00:00:00')

In [72]:
dts = pd.date_range(dt, periods=5, freq=bday_egypt)
dts

DatetimeIndex(['2013-04-30', '2013-05-02', '2013-05-05', '2013-05-06',
               '2013-05-07'],
              dtype='datetime64[ns]', freq='C')

In [74]:
pd.Series(dts.weekday, dts)

2013-04-30    1
2013-05-02    3
2013-05-05    6
2013-05-06    0
2013-05-07    1
Freq: C, dtype: int64

In [75]:
pd.Series('Mon Tue Wed Thu Fri Sat Sun'.split())

0    Mon
1    Tue
2    Wed
3    Thu
4    Fri
5    Sat
6    Sun
dtype: object

In [73]:
pd.Series(dts.weekday, dts).map(pd.Series('Mon Tue Wed Thu Fri Sat Sun'.split()))

2013-04-30    Tue
2013-05-02    Thu
2013-05-05    Sun
2013-05-06    Mon
2013-05-07    Tue
Freq: C, dtype: object

Holiday calendars can be used to provide the list of holidays. See the holiday calendar section for more information.

In [81]:
from pandas.tseries.holiday import USFederalHolidayCalendar
bday_us = CustomBusinessDay(calendar=USFederalHolidayCalendar())
bday_us

In [86]:
# Friday before MLK Day
dt = datetime(2014, 1, 17)
# Tuesday after MLK Day (Monday is skipped because it's a holiday) 下一个工作日
dt + bday_us

Timestamp('2014-01-21 00:00:00')

Monthly offsets that respect a certain holiday calendar can be defined in the usual way.

In [82]:
from pandas.tseries.offsets import CustomBusinessMonthBegin

In [88]:
#每个月的第一个工作日
bmth_us = CustomBusinessMonthBegin(calendar=USFederalHolidayCalendar())
# Skip new years
dt = datetime(2013, 12, 17)
dt + bmth_us

Timestamp('2014-01-02 00:00:00')

In [87]:
# Define date index with custom offset
pd.DatetimeIndex(start='20100101',end='20120101',freq=bmth_us)

DatetimeIndex(['2010-01-04', '2010-02-01', '2010-03-01', '2010-04-01',
               '2010-05-03', '2010-06-01', '2010-07-01', '2010-08-02',
               '2010-09-01', '2010-10-01', '2010-11-01', '2010-12-01',
               '2011-01-03', '2011-02-01', '2011-03-01', '2011-04-01',
               '2011-05-02', '2011-06-01', '2011-07-01', '2011-08-01',
               '2011-09-01', '2011-10-03', '2011-11-01', '2011-12-01'],
              dtype='datetime64[ns]', freq='CBMS')

Note: The frequency string ‘C’ is used to indicate that a CustomBusinessDay DateOffset is used, it is important to note that since CustomBusinessDay is a parameterised type, instances of CustomBusinessDay may differ and this is
not detectable from the ‘C’ frequency string. The user therefore needs to ensure that the ‘C’ frequency string is used consistently within the user’s application.

## 19.8.4 Business Hour

The BusinessHour class provides a business hour representation on BusinessDay, allowing to use specific start and end times.

By default, BusinessHour uses 9:00 - 17:00 as business hours. Adding BusinessHour will increment Timestamp by hourly. If target Timestamp is out of business hours, move to the next business hour then increment it. If the result exceeds the business hours end, remaining is added to the next business day.

In [91]:
bh = BusinessHour()
bh

In [92]:
# 2014-08-01 is Friday
pd.Timestamp('2014-08-01 10:00').weekday()

4

In [93]:
pd.Timestamp('2014-08-01 10:00') + bh

Timestamp('2014-08-01 11:00:00')

In [94]:
# Below example is the same as: pd.Timestamp('2014-08-01 09:00') + bh
pd.Timestamp('2014-08-01 08:00') + bh

Timestamp('2014-08-01 10:00:00')

In [95]:
# If the results is on the end time, move to the next business day
pd.Timestamp('2014-08-01 16:00') + bh

Timestamp('2014-08-04 09:00:00')

In [96]:
# Remainings are added to the next day
pd.Timestamp('2014-08-01 16:30') + bh

Timestamp('2014-08-04 09:30:00')

In [97]:
# Adding 2 business hours
pd.Timestamp('2014-08-01 10:00') + BusinessHour(2)

Timestamp('2014-08-01 12:00:00')

In [98]:
# Subtracting 3 business hours
pd.Timestamp('2014-08-01 10:00') + BusinessHour(-3)

Timestamp('2014-07-31 15:00:00')

Also, you can specify start and end time by keywords. Argument must be str which has hour:minute representation or datetime.time instance.Specifying seconds, microseconds and nanoseconds as business hour results in ValueError.

In [99]:
bh = BusinessHour(start='11:00', end=time(20, 0))
bh

In [100]:
pd.Timestamp('2014-08-01 13:00') + bh

Timestamp('2014-08-01 14:00:00')

In [101]:
pd.Timestamp('2014-08-01 09:00') + bh

Timestamp('2014-08-01 12:00:00')

In [102]:
pd.Timestamp('2014-08-01 18:00') + bh

Timestamp('2014-08-01 19:00:00')

Passing start time later than end represents midnight business hour. In this case, business hour exceeds midnight and overlap to the next day. Valid business hours are distinguished by whether it started from valid BusinessDay.

In [103]:
bh = BusinessHour(start='17:00', end='09:00')
bh

In [104]:
pd.Timestamp('2014-08-01 17:00') + bh

Timestamp('2014-08-01 18:00:00')

In [105]:
pd.Timestamp('2014-08-01 23:00') + bh

Timestamp('2014-08-02 00:00:00')

In [107]:
# Although 2014-08-02 is Satuaday,星期六
# it is valid because it starts from 08-01 (Friday).
pd.Timestamp('2014-08-02 04:00') + bh#还在工作日的工作时间区间内

Timestamp('2014-08-02 05:00:00')

In [108]:
# Although 2014-08-04 is Monday,
# it is out of business hours because it starts from 08-03 (Sunday).
pd.Timestamp('2014-08-04 04:00') + bh

Timestamp('2014-08-04 18:00:00')

## 19.8.5 Custom Business Hour

## 19.8.6 Offset Aliases

|Alias|Description| 中文含义|
| ---- | ---- | ----|
|B|business day frequency|工作日频率|
|C|custom business day frequency|自定义工作日频率|
|D|calendar day frequency|自然日|
|W|weekly frequency|每周|
|M|month end frequency|月末|
|SM|semi-month end frequency (15th and end of month)|半月末|
|BM|business month end frequency|每月最后一个工作日|
|CBM|custom business month end frequency|每月最后一个工作日，工作日是自定义的|
|MS|month start frequency|每月初（第一天）|
|SMS|semi-month start frequency (1st and 15th)|半月初（第一天）|
|BMS|business month start frequency|每月第一个工作日|
|CBMS|custom business month start frequency|每月第一个工作日，工作日是自定义的|
|Q|quarter end frequency|每季末|
|BQ|business quarter end frequency|每季左后一个工作日|
|QS|quarter start frequency|每季初（第一天）|
|BQS|business quarter start frequency|每季第一个工作日|
|A,|Y year end frequency|每年末|
|BA,|BY business year end frequency||
|AS,|YS year start frequency||
|BAS,|BYS business year start frequency||
|BH|business hour frequency||
|H|hourly frequency||
|T,|min minutely frequency||
|S|secondly frequency||
|L,|ms milliseconds||
|U,|us microseconds||
|N|nanoseconds||

## 19.8.7 Combining Aliases

As we have seen previously, the alias and the offset instance are fungible in most functions:

频率的别名和频率对象是可以相互替换的

In [110]:
start = '2011-01-01'
pd.date_range(start, periods=5, freq='B')

DatetimeIndex(['2011-01-03', '2011-01-04', '2011-01-05', '2011-01-06',
               '2011-01-07'],
              dtype='datetime64[ns]', freq='B')

In [111]:
pd.date_range(start, periods=5, freq=BDay())

DatetimeIndex(['2011-01-03', '2011-01-04', '2011-01-05', '2011-01-06',
               '2011-01-07'],
              dtype='datetime64[ns]', freq='B')

In [112]:
pd.date_range(start, periods=10, freq='2h20min')

DatetimeIndex(['2011-01-01 00:00:00', '2011-01-01 02:20:00',
               '2011-01-01 04:40:00', '2011-01-01 07:00:00',
               '2011-01-01 09:20:00', '2011-01-01 11:40:00',
               '2011-01-01 14:00:00', '2011-01-01 16:20:00',
               '2011-01-01 18:40:00', '2011-01-01 21:00:00'],
              dtype='datetime64[ns]', freq='140T')

In [113]:
pd.date_range(start, periods=10, freq='1D10U')

DatetimeIndex([       '2011-01-01 00:00:00', '2011-01-02 00:00:00.000010',
               '2011-01-03 00:00:00.000020', '2011-01-04 00:00:00.000030',
               '2011-01-05 00:00:00.000040', '2011-01-06 00:00:00.000050',
               '2011-01-07 00:00:00.000060', '2011-01-08 00:00:00.000070',
               '2011-01-09 00:00:00.000080', '2011-01-10 00:00:00.000090'],
              dtype='datetime64[ns]', freq='86400000010U')

## 19.8.8 Anchored Offsets

For some frequencies you can specify an anchoring suffix:

|Alias|Description|含义|
| ---- | ---- | ----|
|W-SUN|weekly frequency (Sundays). Same as ‘W’||
|W-MON|weekly frequency (Mondays)||
|W-TUE|weekly frequency (Tuesdays)||
|W-WED|weekly frequency (Wednesdays)||
|W-THU|weekly frequency (Thursdays)||
|W-FRI|weekly frequency (Fridays)||
|W-SAT|weekly frequency (Saturdays)||
|(B)Q(S)-DEC|quarterly frequency, year ends in December. Same as ‘Q’||
|(B)Q(S)-JAN|quarterly frequency, year ends in January||
|(B)Q(S)-FEB|quarterly frequency, year ends in February||
|(B)Q(S)-MAR|quarterly frequency, year ends in March||
|(B)Q(S)-APR|quarterly frequency, year ends in April||
|(B)Q(S)-MAY|quarterly frequency, year ends in May||
|(B)Q(S)-JUN|quarterly frequency, year ends in June||
|(B)Q(S)-JUL|quarterly frequency, year ends in July||
|(B)Q(S)-AUG|quarterly frequency, year ends in August||
|(B)Q(S)-SEP|quarterly frequency, year ends in September||
|(B)Q(S)-OCT|quarterly frequency, year ends in October||
|(B)Q(S)-NOV|quarterly frequency, year ends in November||
|(B)A(S)-DEC|annual frequency, anchored end of December. Same as ‘A’||
|(B)A(S)-JAN|annual frequency, anchored end of January||
|(B)A(S)-FEB|annual frequency, anchored end of February||
|(B)A(S)-MAR|annual frequency, anchored end of March||
|(B)A(S)-APR|annual frequency, anchored end of April||
|(B)A(S)-MAY|annual frequency, anchored end of May||
|(B)A(S)-JUN|annual frequency, anchored end of June||
|(B)A(S)-JUL|annual frequency, anchored end of July||
|(B)A(S)-AUG|annual frequency, anchored end of August||
|(B)A(S)-SEP|annual frequency, anchored end of September||
|(B)A(S)-OCT|annual frequency, anchored end of October||
|(B)A(S)-NOV|annual frequency, anchored end of November||

These can be used as arguments to date_range, bdate_range, constructors for DatetimeIndex, as well as various other timeseries-related functions in pandas.

## 19.8.9 Anchored Offset Semantics

For those offsets that are anchored to the start or end of specific frequency (MonthEnd, MonthBegin, WeekEnd, etc) the following rules apply to rolling forward and backwards.

When n is not 0, if the given date is not on an anchor point（锚点）, it snapped to the next(previous) anchor point（滑到下一个锚点）, and moved |n|-1 additional steps forwards or backwards.

In [115]:
# 下一个锚点是2014-02-01
pd.Timestamp('2014-01-02') + MonthBegin(n=1)

Timestamp('2014-02-01 00:00:00')

In [116]:
# 下一个锚点是2014-01-31
pd.Timestamp('2014-01-02') + MonthEnd(n=1)

Timestamp('2014-01-31 00:00:00')

In [117]:
# 上一个锚点是2014-01-01
pd.Timestamp('2014-01-02') - MonthBegin(n=1)

Timestamp('2014-01-01 00:00:00')

In [119]:
# 上一个锚点是2013-12-31
pd.Timestamp('2014-01-02') - MonthEnd(n=1)

Timestamp('2013-12-31 00:00:00')

In [120]:
# 下一个锚点是2014-02-01，然后再往前移动3步，则最终的结果为2014-05-01
pd.Timestamp('2014-01-02') + MonthBegin(n=4)

Timestamp('2014-05-01 00:00:00')

If the given date is on an anchor point, it is moved |n| points forwards or backwards.

注意：这里是移动n个点，而上一种情况是移动|n|-1步

In [121]:
# 2014-01-01是锚点，往前移动一步为2014-02-01
pd.Timestamp('2014-01-01') + MonthBegin(n=1)

Timestamp('2014-02-01 00:00:00')

In [122]:
pd.Timestamp('2014-01-31') + MonthEnd(n=1)

Timestamp('2014-02-28 00:00:00')

In [123]:
pd.Timestamp('2014-01-01') - MonthBegin(n=1)

Timestamp('2013-12-01 00:00:00')

In [124]:
pd.Timestamp('2014-01-31') - MonthEnd(n=1)

Timestamp('2013-12-31 00:00:00')

In [125]:
pd.Timestamp('2014-01-31') - MonthBegin(n=4)

Timestamp('2013-10-01 00:00:00')

For the case when n=0, the date is not moved if on an anchor point, otherwise it is rolled forward to the next anchor
point.

In [126]:
pd.Timestamp('2014-01-02') + MonthBegin(n=0)

Timestamp('2014-02-01 00:00:00')

In [127]:
pd.Timestamp('2014-01-02') + MonthEnd(n=0)

Timestamp('2014-01-31 00:00:00')

In [130]:
pd.Timestamp('2014-01-01') + MonthBegin(n=0)

Timestamp('2014-01-01 00:00:00')

In [129]:
pd.Timestamp('2014-01-31') + MonthEnd(n=0)

Timestamp('2014-01-31 00:00:00')

# 19.9 Time Series-Related Instance Methods

## 19.9.1 Shifting / Lagging

In [144]:
ts = ts[:5]
ts

2011-01-31   -0.322139
2011-02-28   -1.241950
2011-03-31   -0.808380
2011-04-29    1.974188
2011-05-31    0.947264
Freq: BM, dtype: float64

In [145]:
ts.shift(1)

2011-01-31         NaN
2011-02-28   -0.322139
2011-03-31   -1.241950
2011-04-29   -0.808380
2011-05-31    1.974188
Freq: BM, dtype: float64

The shift method accepts an freq argument which can accept a DateOffset class or other timedelta-like object
or also a offset alias:

In [149]:
# 将时间索引向前移动5个business day
ts.shift(5, freq=BDay())

2011-02-07   -0.322139
2011-03-07   -1.241950
2011-04-07   -0.808380
2011-05-06    1.974188
2011-06-07    0.947264
dtype: float64

In [150]:
ts.shift(5, freq='BM')

2011-06-30   -0.322139
2011-07-29   -1.241950
2011-08-31   -0.808380
2011-09-30    1.974188
2011-10-31    0.947264
Freq: BM, dtype: float64

Rather than changing the alignment of the data and the index, DataFrame and Series objects also have a tshift
convenience method that changes all the dates in the index by a specified number of offsets:

In [151]:
ts.tshift(5, freq='D')

2011-02-05   -0.322139
2011-03-05   -1.241950
2011-04-05   -0.808380
2011-05-04    1.974188
2011-06-05    0.947264
dtype: float64

Note that with tshift, the leading entry is no longer NaN because the data is not being realigned.

## 19.9.2 Frequency Conversion

In [155]:
dr = pd.date_range('1/1/2010', periods=3, freq=3*BDay())
ts = pd.Series(randn(3), index=dr)
ts

2010-01-01    1.510654
2010-01-06    0.545416
2010-01-11    0.801161
Freq: 3B, dtype: float64

In [156]:
ts.asfreq(BDay())

2010-01-01    1.510654
2010-01-04         NaN
2010-01-05         NaN
2010-01-06    0.545416
2010-01-07         NaN
2010-01-08         NaN
2010-01-11    0.801161
Freq: B, dtype: float64

asfreq provides a further convenience so you can specify an interpolation method for any gaps that may appear after the frequency conversion

In [158]:
ts.asfreq(BDay(), method='pad')

2010-01-01    1.510654
2010-01-04    1.510654
2010-01-05    1.510654
2010-01-06    0.545416
2010-01-07    0.545416
2010-01-08    0.545416
2010-01-11    0.801161
Freq: B, dtype: float64

## 19.9.3 Filling Forward / Backward

Related to asfreq and reindex is the fillna function documented in the missing data section.

## 19.9.4 Converting to Python Datetimes

DatetimeIndex can be converted to an array of Python native datetime.datetime objects using the to_pydatetime method.

该方法可以和to_datetime对比来记忆

# 19.10 Resampling

Pandas has a simple, powerful, and efficient functionality for performing resampling operations during **frequency** conversion (e.g., converting secondly data into 5-minutely data). This is extremely common in, but not limited to,
financial applications.

.resample() is a time-based groupby, followed by a reduction method on each of its groups. See some cookbook examples for some advanced strategies

Starting in version 0.18.1, the resample() function can be used directly from DataFrameGroupBy objects, see the groupby docs.

从这个角度来看，resample只能够将频

## 19.10.1 Basics

In [7]:
rng = pd.date_range('1/1/2012', periods=100, freq='S')
len(rng)

100

In [8]:
ts = pd.Series(np.random.randint(0, 500, len(rng)), index=rng)
ts

2012-01-01 00:00:00    135
2012-01-01 00:00:01    475
2012-01-01 00:00:02    261
2012-01-01 00:00:03    171
2012-01-01 00:00:04    345
2012-01-01 00:00:05    290
2012-01-01 00:00:06    333
2012-01-01 00:00:07    357
2012-01-01 00:00:08    481
2012-01-01 00:00:09    340
2012-01-01 00:00:10    287
2012-01-01 00:00:11    232
2012-01-01 00:00:12    340
2012-01-01 00:00:13     99
2012-01-01 00:00:14    440
2012-01-01 00:00:15    371
2012-01-01 00:00:16    164
2012-01-01 00:00:17    358
2012-01-01 00:00:18    205
2012-01-01 00:00:19    347
2012-01-01 00:00:20    492
2012-01-01 00:00:21    314
2012-01-01 00:00:22    324
2012-01-01 00:00:23    489
2012-01-01 00:00:24    200
2012-01-01 00:00:25    184
2012-01-01 00:00:26    119
2012-01-01 00:00:27    263
2012-01-01 00:00:28    108
2012-01-01 00:00:29     52
                      ...
2012-01-01 00:01:10     92
2012-01-01 00:01:11    375
2012-01-01 00:01:12    174
2012-01-01 00:01:13    380
2012-01-01 00:01:14     24
2012-01-01 00:01:15    408
2012-01-01 00:01:16    498
2012-01-01 00:01:17    425
2012-01-01 00:01:18     29
2012-01-01 00:01:19    358
2012-01-01 00:01:20     11
2012-01-01 00:01:21     57
2012-01-01 00:01:22    466
2012-01-01 00:01:23    226
2012-01-01 00:01:24    158
2012-01-01 00:01:25    126
2012-01-01 00:01:26    379
2012-01-01 00:01:27     36
2012-01-01 00:01:28    256
2012-01-01 00:01:29    412
2012-01-01 00:01:30     90
2012-01-01 00:01:31    267
2012-01-01 00:01:32    318
2012-01-01 00:01:33    496
2012-01-01 00:01:34    429
2012-01-01 00:01:35    414
2012-01-01 00:01:36    469
2012-01-01 00:01:37    464
2012-01-01 00:01:38     96
2012-01-01 00:01:39    237
Freq: S, Length: 100, dtype: int32

In [6]:
ts.resample('5Min').sum()

2012-01-01    26030
Freq: 5T, dtype: int32

In [182]:
ts.resample('5Min').mean()

2012-01-01    227.18
Freq: 5T, dtype: float64

In [9]:
ts.resample('5Min').ohlc()

            open  high  low  close
2012-01-01   135   498    7    237

In [169]:
ts.resample('5Min').max()

2012-01-01    490
Freq: 5T, dtype: int32

For downsampling, closed can be set to ‘left’ or ‘right’ to specify which end of the interval is closed:

In [183]:
ts.resample('5Min', closed='right').mean()

2011-12-31 23:55:00    120.000000
2012-01-01 00:00:00    228.262626
Freq: 5T, dtype: float64

In [184]:
ts.resample('5Min', closed='left').mean()

2012-01-01    227.18
Freq: 5T, dtype: float64

In [172]:
ts.resample('5Min').mean() # by default label='left'

2012-01-01    229.92
Freq: 5T, dtype: float64

In [173]:
ts.resample('5Min', label='left').mean()

2012-01-01    229.92
Freq: 5T, dtype: float64

In [174]:
ts.resample('5Min', label='left', loffset='1s').mean()

2012-01-01 00:00:01    229.92
dtype: float64

In [187]:
rng2 = pd.date_range('1/1/2012', end='3/31/2012', freq='D')
ts2 = pd.Series(range(len(rng2)), index=rng2)
ts2

2012-01-01     0
2012-01-02     1
2012-01-03     2
2012-01-04     3
2012-01-05     4
2012-01-06     5
2012-01-07     6
2012-01-08     7
2012-01-09     8
2012-01-10     9
2012-01-11    10
2012-01-12    11
2012-01-13    12
2012-01-14    13
2012-01-15    14
2012-01-16    15
2012-01-17    16
2012-01-18    17
2012-01-19    18
2012-01-20    19
2012-01-21    20
2012-01-22    21
2012-01-23    22
2012-01-24    23
2012-01-25    24
2012-01-26    25
2012-01-27    26
2012-01-28    27
2012-01-29    28
2012-01-30    29
              ..
2012-03-02    61
2012-03-03    62
2012-03-04    63
2012-03-05    64
2012-03-06    65
2012-03-07    66
2012-03-08    67
2012-03-09    68
2012-03-10    69
2012-03-11    70
2012-03-12    71
2012-03-13    72
2012-03-14    73
2012-03-15    74
2012-03-16    75
2012-03-17    76
2012-03-18    77
2012-03-19    78
2012-03-20    79
2012-03-21    80
2012-03-22    81
2012-03-23    82
2012-03-24    83
2012-03-25    84
2012-03-26    85
2012-03-27    86
2012-03-28    87
2012-03-29    88
2012-03-30    89
2012-03-31    90
Freq: D, Length: 91, dtype: int64

In [186]:
# default: label='right', closed='right'
ts2.resample('M').max()

2012-01-31    30
2012-02-29    59
2012-03-31    90
Freq: M, dtype: int64

In [188]:
# default: label='left', closed='left'
ts2.resample('SM').max()

2011-12-31    13
2012-01-15    29
2012-01-31    44
2012-02-15    58
2012-02-29    73
2012-03-15    89
2012-03-31    90
Freq: SM-15, dtype: int64

## 19.10.2 Upsampling

In [190]:
# from secondly to every 250 milliseconds
ts[:2].resample('250L')

DatetimeIndexResampler [freq=<250 * Millis>, axis=0, closed=left, label=left, convention=start, base=0]

In [191]:
ts[:2].resample('250L').asfreq()

2012-01-01 00:00:00.000    120.0
2012-01-01 00:00:00.250      NaN
2012-01-01 00:00:00.500      NaN
2012-01-01 00:00:00.750      NaN
2012-01-01 00:00:01.000    405.0
Freq: 250L, dtype: float64

In [192]:
ts[:2].resample('250L').ffill()

2012-01-01 00:00:00.000    120
2012-01-01 00:00:00.250    120
2012-01-01 00:00:00.500    120
2012-01-01 00:00:00.750    120
2012-01-01 00:00:01.000    405
Freq: 250L, dtype: int32

In [193]:
ts[:2].resample('250L').ffill(limit=2)

2012-01-01 00:00:00.000    120.0
2012-01-01 00:00:00.250    120.0
2012-01-01 00:00:00.500    120.0
2012-01-01 00:00:00.750      NaN
2012-01-01 00:00:01.000    405.0
Freq: 250L, dtype: float64

## 19.10.3 Sparse Resampling

In [195]:
rng = pd.date_range('2014-1-1', periods=100, freq='D') + pd.Timedelta('1s')
rng

DatetimeIndex(['2014-01-01 00:00:01', '2014-01-02 00:00:01',
               '2014-01-03 00:00:01', '2014-01-04 00:00:01',
               '2014-01-05 00:00:01', '2014-01-06 00:00:01',
               '2014-01-07 00:00:01', '2014-01-08 00:00:01',
               '2014-01-09 00:00:01', '2014-01-10 00:00:01',
               '2014-01-11 00:00:01', '2014-01-12 00:00:01',
               '2014-01-13 00:00:01', '2014-01-14 00:00:01',
               '2014-01-15 00:00:01', '2014-01-16 00:00:01',
               '2014-01-17 00:00:01', '2014-01-18 00:00:01',
               '2014-01-19 00:00:01', '2014-01-20 00:00:01',
               '2014-01-21 00:00:01', '2014-01-22 00:00:01',
               '2014-01-23 00:00:01', '2014-01-24 00:00:01',
               '2014-01-25 00:00:01', '2014-01-26 00:00:01',
               '2014-01-27 00:00:01', '2014-01-28 00:00:01',
               '2014-01-29 00:00:01', '2014-01-30 00:00:01',
               '2014-01-31 00:00:01', '2014-02-01 00:00:01',
               '2014-02-02 00:00:01', '2014-02-03 00:00:01',
               '2014-02-04 00:00:01', '2014-02-05 00:00:01',
               '2014-02-06 00:00:01', '2014-02-07 00:00:01',
               '2014-02-08 00:00:01', '2014-02-09 00:00:01',
               '2014-02-10 00:00:01', '2014-02-11 00:00:01',
               '2014-02-12 00:00:01', '2014-02-13 00:00:01',
               '2014-02-14 00:00:01', '2014-02-15 00:00:01',
               '2014-02-16 00:00:01', '2014-02-17 00:00:01',
               '2014-02-18 00:00:01', '2014-02-19 00:00:01',
               '2014-02-20 00:00:01', '2014-02-21 00:00:01',
               '2014-02-22 00:00:01', '2014-02-23 00:00:01',
               '2014-02-24 00:00:01', '2014-02-25 00:00:01',
               '2014-02-26 00:00:01', '2014-02-27 00:00:01',
               '2014-02-28 00:00:01', '2014-03-01 00:00:01',
               '2014-03-02 00:00:01', '2014-03-03 00:00:01',
               '2014-03-04 00:00:01', '2014-03-05 00:00:01',
               '2014-03-06 00:00:01', '2014-03-07 00:00:01',
               '2014-03-08 00:00:01', '2014-03-09 00:00:01',
               '2014-03-10 00:00:01', '2014-03-11 00:00:01',
               '2014-03-12 00:00:01', '2014-03-13 00:00:01',
               '2014-03-14 00:00:01', '2014-03-15 00:00:01',
               '2014-03-16 00:00:01', '2014-03-17 00:00:01',
               '2014-03-18 00:00:01', '2014-03-19 00:00:01',
               '2014-03-20 00:00:01', '2014-03-21 00:00:01',
               '2014-03-22 00:00:01', '2014-03-23 00:00:01',
               '2014-03-24 00:00:01', '2014-03-25 00:00:01',
               '2014-03-26 00:00:01', '2014-03-27 00:00:01',
               '2014-03-28 00:00:01', '2014-03-29 00:00:01',
               '2014-03-30 00:00:01', '2014-03-31 00:00:01',
               '2014-04-01 00:00:01', '2014-04-02 00:00:01',
               '2014-04-03 00:00:01', '2014-04-04 00:00:01',
               '2014-04-05 00:00:01', '2014-04-06 00:00:01',
               '2014-04-07 00:00:01', '2014-04-08 00:00:01',
               '2014-04-09 00:00:01', '2014-04-10 00:00:01'],
              dtype='datetime64[ns]', freq='D')

In [198]:
ts = pd.Series(range(100), index=rng)
ts

2014-01-01 00:00:01     0
2014-01-02 00:00:01     1
2014-01-03 00:00:01     2
2014-01-04 00:00:01     3
2014-01-05 00:00:01     4
2014-01-06 00:00:01     5
2014-01-07 00:00:01     6
2014-01-08 00:00:01     7
2014-01-09 00:00:01     8
2014-01-10 00:00:01     9
2014-01-11 00:00:01    10
2014-01-12 00:00:01    11
2014-01-13 00:00:01    12
2014-01-14 00:00:01    13
2014-01-15 00:00:01    14
2014-01-16 00:00:01    15
2014-01-17 00:00:01    16
2014-01-18 00:00:01    17
2014-01-19 00:00:01    18
2014-01-20 00:00:01    19
2014-01-21 00:00:01    20
2014-01-22 00:00:01    21
2014-01-23 00:00:01    22
2014-01-24 00:00:01    23
2014-01-25 00:00:01    24
2014-01-26 00:00:01    25
2014-01-27 00:00:01    26
2014-01-28 00:00:01    27
2014-01-29 00:00:01    28
2014-01-30 00:00:01    29
                       ..
2014-03-12 00:00:01    70
2014-03-13 00:00:01    71
2014-03-14 00:00:01    72
2014-03-15 00:00:01    73
2014-03-16 00:00:01    74
2014-03-17 00:00:01    75
2014-03-18 00:00:01    76
2014-03-19 00:00:01    77
2014-03-20 00:00:01    78
2014-03-21 00:00:01    79
2014-03-22 00:00:01    80
2014-03-23 00:00:01    81
2014-03-24 00:00:01    82
2014-03-25 00:00:01    83
2014-03-26 00:00:01    84
2014-03-27 00:00:01    85
2014-03-28 00:00:01    86
2014-03-29 00:00:01    87
2014-03-30 00:00:01    88
2014-03-31 00:00:01    89
2014-04-01 00:00:01    90
2014-04-02 00:00:01    91
2014-04-03 00:00:01    92
2014-04-04 00:00:01    93
2014-04-05 00:00:01    94
2014-04-06 00:00:01    95
2014-04-07 00:00:01    96
2014-04-08 00:00:01    97
2014-04-09 00:00:01    98
2014-04-10 00:00:01    99
Freq: D, Length: 100, dtype: int64

In [199]:
ts.resample('3T').sum()

2014-01-01 00:00:00     0
2014-01-01 00:03:00     0
2014-01-01 00:06:00     0
2014-01-01 00:09:00     0
2014-01-01 00:12:00     0
2014-01-01 00:15:00     0
2014-01-01 00:18:00     0
2014-01-01 00:21:00     0
2014-01-01 00:24:00     0
2014-01-01 00:27:00     0
2014-01-01 00:30:00     0
2014-01-01 00:33:00     0
2014-01-01 00:36:00     0
2014-01-01 00:39:00     0
2014-01-01 00:42:00     0
2014-01-01 00:45:00     0
2014-01-01 00:48:00     0
2014-01-01 00:51:00     0
2014-01-01 00:54:00     0
2014-01-01 00:57:00     0
2014-01-01 01:00:00     0
2014-01-01 01:03:00     0
2014-01-01 01:06:00     0
2014-01-01 01:09:00     0
2014-01-01 01:12:00     0
2014-01-01 01:15:00     0
2014-01-01 01:18:00     0
2014-01-01 01:21:00     0
2014-01-01 01:24:00     0
2014-01-01 01:27:00     0
                       ..
2014-04-09 22:33:00     0
2014-04-09 22:36:00     0
2014-04-09 22:39:00     0
2014-04-09 22:42:00     0
2014-04-09 22:45:00     0
2014-04-09 22:48:00     0
2014-04-09 22:51:00     0
2014-04-09 22:54:00     0
2014-04-09 22:57:00     0
2014-04-09 23:00:00     0
2014-04-09 23:03:00     0
2014-04-09 23:06:00     0
2014-04-09 23:09:00     0
2014-04-09 23:12:00     0
2014-04-09 23:15:00     0
2014-04-09 23:18:00     0
2014-04-09 23:21:00     0
2014-04-09 23:24:00     0
2014-04-09 23:27:00     0
2014-04-09 23:30:00     0
2014-04-09 23:33:00     0
2014-04-09 23:36:00     0
2014-04-09 23:39:00     0
2014-04-09 23:42:00     0
2014-04-09 23:45:00     0
2014-04-09 23:48:00     0
2014-04-09 23:51:00     0
2014-04-09 23:54:00     0
2014-04-09 23:57:00     0
2014-04-10 00:00:00    99
Freq: 3T, Length: 47521, dtype: int64

In [200]:
from functools import partial
from pandas.tseries.frequencies import to_offset
def round(t, freq):
    freq = to_offset(freq)
    return pd.Timestamp((t.value // freq.delta.value)*freq.delta.value)

In [201]:
ts.groupby(partial(round, freq='3T')).sum()

2014-01-01     0
2014-01-02     1
2014-01-03     2
2014-01-04     3
2014-01-05     4
2014-01-06     5
2014-01-07     6
2014-01-08     7
2014-01-09     8
2014-01-10     9
2014-01-11    10
2014-01-12    11
2014-01-13    12
2014-01-14    13
2014-01-15    14
2014-01-16    15
2014-01-17    16
2014-01-18    17
2014-01-19    18
2014-01-20    19
2014-01-21    20
2014-01-22    21
2014-01-23    22
2014-01-24    23
2014-01-25    24
2014-01-26    25
2014-01-27    26
2014-01-28    27
2014-01-29    28
2014-01-30    29
              ..
2014-03-12    70
2014-03-13    71
2014-03-14    72
2014-03-15    73
2014-03-16    74
2014-03-17    75
2014-03-18    76
2014-03-19    77
2014-03-20    78
2014-03-21    79
2014-03-22    80
2014-03-23    81
2014-03-24    82
2014-03-25    83
2014-03-26    84
2014-03-27    85
2014-03-28    86
2014-03-29    87
2014-03-30    88
2014-03-31    89
2014-04-01    90
2014-04-02    91
2014-04-03    92
2014-04-04    93
2014-04-05    94
2014-04-06    95
2014-04-07    96
2014-04-08    97
2014-04-09    98
2014-04-10    99
Length: 100, dtype: int64

## 19.10.4 Aggregation

In [203]:
df = pd.DataFrame(np.random.randn(1000, 3),
                  index=pd.date_range('1/1/2012', freq='S', periods=1000),
                  columns=['A', 'B', 'C'])
r = df.resample('3T')

In [204]:
r.mean()

                            A         B         C
2012-01-01 00:00:00 -0.118908 -0.062350 -0.052676
2012-01-01 00:03:00  0.019445  0.036599 -0.120844
2012-01-01 00:06:00  0.040693  0.032505  0.032937
2012-01-01 00:09:00 -0.017517 -0.025258  0.038029
2012-01-01 00:12:00  0.016157 -0.008374 -0.007247
2012-01-01 00:15:00 -0.016999  0.128331  0.011716

In [205]:
r['A'].mean()

2012-01-01 00:00:00   -0.118908
2012-01-01 00:03:00    0.019445
2012-01-01 00:06:00    0.040693
2012-01-01 00:09:00   -0.017517
2012-01-01 00:12:00    0.016157
2012-01-01 00:15:00   -0.016999
Freq: 3T, Name: A, dtype: float64

In [206]:
r[['A','B']].mean()

                            A         B
2012-01-01 00:00:00 -0.118908 -0.062350
2012-01-01 00:03:00  0.019445  0.036599
2012-01-01 00:06:00  0.040693  0.032505
2012-01-01 00:09:00 -0.017517 -0.025258
2012-01-01 00:12:00  0.016157 -0.008374
2012-01-01 00:15:00 -0.016999  0.128331

In [207]:
r['A'].agg([np.sum, np.mean, np.std])

                           sum      mean       std
2012-01-01 00:00:00 -21.403502 -0.118908  0.990016
2012-01-01 00:03:00   3.500088  0.019445  0.904340
2012-01-01 00:06:00   7.324659  0.040693  1.043424
2012-01-01 00:09:00  -3.153064 -0.017517  1.001389
2012-01-01 00:12:00   2.908233  0.016157  1.056619
2012-01-01 00:15:00  -1.699902 -0.016999  0.937193

In [208]:
r.agg([np.sum, np.mean])

                             A                    B                    C  \
                           sum      mean        sum      mean        sum
2012-01-01 00:00:00 -21.403502 -0.118908 -11.222965 -0.062350  -9.481728
2012-01-01 00:03:00   3.500088  0.019445   6.587825  0.036599 -21.751967
2012-01-01 00:06:00   7.324659  0.040693   5.850915  0.032505   5.928581
2012-01-01 00:09:00  -3.153064 -0.017517  -4.546449 -0.025258   6.845245
2012-01-01 00:12:00   2.908233  0.016157  -1.507251 -0.008374  -1.304478
2012-01-01 00:15:00  -1.699902 -0.016999  12.833106  0.128331   1.171576


                         mean
2012-01-01 00:00:00 -0.052676
2012-01-01 00:03:00 -0.120844
2012-01-01 00:06:00  0.032937
2012-01-01 00:09:00  0.038029
2012-01-01 00:12:00 -0.007247
2012-01-01 00:15:00  0.011716

In [209]:
r.agg({'A' : np.sum,
       'B' : lambda x: np.std(x, ddof=1)})

                             A         B
2012-01-01 00:00:00 -21.403502  1.013514
2012-01-01 00:03:00   3.500088  1.018236
2012-01-01 00:06:00   7.324659  0.887138
2012-01-01 00:09:00  -3.153064  1.099908
2012-01-01 00:12:00   2.908233  1.045755
2012-01-01 00:15:00  -1.699902  0.943251

In [210]:
r.agg({'A' : 'sum', 'B' : 'std'})

                             A         B
2012-01-01 00:00:00 -21.403502  1.013514
2012-01-01 00:03:00   3.500088  1.018236
2012-01-01 00:06:00   7.324659  0.887138
2012-01-01 00:09:00  -3.153064  1.099908
2012-01-01 00:12:00   2.908233  1.045755
2012-01-01 00:15:00  -1.699902  0.943251

In [211]:
r.agg({'A' : ['sum','std'], 'B' : ['mean','std'] })

                             A                   B
                           sum       std      mean       std
2012-01-01 00:00:00 -21.403502  0.990016 -0.062350  1.013514
2012-01-01 00:03:00   3.500088  0.904340  0.036599  1.018236
2012-01-01 00:06:00   7.324659  1.043424  0.032505  0.887138
2012-01-01 00:09:00  -3.153064  1.001389 -0.025258  1.099908
2012-01-01 00:12:00   2.908233  1.056619 -0.008374  1.045755
2012-01-01 00:15:00  -1.699902  0.937193  0.128331  0.943251

In [213]:
df = pd.DataFrame({'date': pd.date_range('2015-01-01', freq='W', periods=5),
                   'a': np.arange(5)},
                  index=pd.MultiIndex.from_arrays([[1,2,3,4,5],
                                                   pd.date_range('2015-01-01', freq='W',periods=5)],names=['v','d']))
df

              a       date
v d
1 2015-01-04  0 2015-01-04
2 2015-01-11  1 2015-01-11
3 2015-01-18  2 2015-01-18
4 2015-01-25  3 2015-01-25
5 2015-02-01  4 2015-02-01

If a DataFrame does not have a datetimelike index, but instead you want to resample based on datetimelike column
in the frame, it can passed to the on keyword.

In [214]:
df.resample('M', on='date').sum()

            a
date
2015-01-31  6
2015-02-28  4

Similarly, if you instead want to resample by a datetimelike level of MultiIndex, its name or location can be passed
to the level keyword.

In [215]:
df.resample('M', level='d').sum()

            a
d
2015-01-31  6
2015-02-28  4